@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

* {
  font-family: 'Avenir Next-Bold', 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $med-font;
  color: $dark-gray;
}

h1 {
  font-size: 3rem;

  @media #{$medium-only} {
    font-size: 2.5rem;
  }

  @media #{$small-and-down} {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.25rem;

  @media #{$medium-only} {
    font-size: 2rem;
  }

  @media #{$small-and-down} {
    font-size: 1.625rem;
  }
}

h3 {
  font-size: 1.75rem;

  @media #{$medium-only} {
    font-size: 1.5rem;
  }

  @media #{$small-and-down} {
    font-size: 1.375rem;
  }
}

h4 {
  font-size: 1.375rem;
}

h6 {
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-primary-color;
  font-weight: 500;
}

p {
  font-size: $med-font;
}

/* Font Size */

.sm-text {
  font-size: $sm-font;
}

.med-text {
  font-size: $med-font;
}

.lg-text {
  font-size: $lg-font;
}

.xlg-text {
  font-size: $xlg-font;
}

/* Font Styling */

.italic {
  font-style: italic;
}

/* Font Weight */

.bold {
  font-weight: 700;
}

.med-bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.thin {
  font-weight: 300;
}

/* Text Color */

.white-color {
  color: white;
}

/* Line height */

@for $i from 1 through 20 {

  .line-height-#{$i * 5} {
    line-height: #{$i * 5}px;
  }

}
