.header-container {
  @media #{$medium-and-up} {
    padding-top: 75px;
  }
}

header {
  display: flex;
  justify-content: center;
  z-index: 100;
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;


  @media #{$medium-and-up} {
    top: 0;
    left: 0;
  }

  @media #{$small-and-down} {
    bottom: 0;
    left: 0;
  }

  .header-item {
    display: inline-block;
    width: 200px;
    max-width: calc(100%/3);
    color: $dark-primary-color;
    text-align: center;
    font-size: $med-font;
    border-bottom: 0px solid $primary-color;
    transition: 200ms;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    box-sizing: content-box;
    border-bottom: 5px solid #f7f7f7;

    @media #{$small-and-down} {
      font-size: $sm-font;
    }

    &:hover {
      height: 75px;
      border-bottom: 5px solid $primary-color;
    }
  }
}

.themes {
  background: linear-gradient(45deg, #a8c0b2, #477393);

  img {
    width: 100%;
  }
}

.share-social {
  position: fixed;
  top: 100px;
  right: 20px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  max-width: 70px;
  align-items: center;

  @media #{$small-and-down} {
    top: -80px;
    right: -10px;
    transform: scale(0.4, 0.4);
  }

  .icon {
    margin-bottom: 5px;

    &.scale {
      transform: scale(1.1, 1.1);
    }
  }
}

.info {
  display: flex;

  @media #{$small-and-down} {
    padding-top: 25px;
  }

  .icons {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    @media #{$small-and-down} {
      width: 50px;
      max-width: 50px;
      min-width: 50px;
      padding-left: 10px;
    }
  }

  .content {
    padding-left: 25px;
  }
}

.questions {
  padding-left: 125px;

  .fixed-map {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 10;
    transition: 200ms;
  }

  .answers {
    @media #{$large-and-up} {
      height: auto !important;
    }

    @media #{$medium-and-down} {
      overflow: scroll;
    }
  }

  @media #{$medium-and-down} {
    padding-left: 0;
  }
}

.ratings {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  :nth-child(2) {
    transform: scale(0.7, 0.7);
  }

  :nth-child(3) {
    transform: scale(0.7, 0.7);
  }

  img {
    width: 30px;
  }
}

.footer {
  @media #{$small-and-down} {
    padding-bottom: 75px;
  }
}

.map {
  width: inherit;
  position: fixed;
  top: 100px;
  box-sizing: border-box;
  border: 2px solid $primary-color;
}

.scale {
  transform: scale(1.5, 1.5);
}

.survey {
  @media #{$medium-and-up} {
    padding-top: 100px;
  }
}
