header {
  max-width: 600px;
  margin: 0 auto;

  .header-item {
    display: inline-block;
    width: calc(100%/3);
    color: $secondary-color;
    text-align: center;
    font-size: $med-font;
    border-bottom: 0px solid $primary-color;
    transition: 200ms;
    height: 75px;
    line-height: 75px;

    @media #{$small-and-down} {
      font-size: $sm-font;
    }

    &:hover {
      border-bottom: 5px solid $primary-color;
    }
  }
}

.logos {
  display: flex;
  justify-content: center;
  padding: 50px 0;

  @media #{$small-and-down} {
    padding: 25px 0;
  }

  a img {
    height: 60px;
    margin: 0 20px;
    object-fit: contain;
  }
}

.themes {
  background: linear-gradient(45deg, #a8c0b2, #477393);
}

.share-social {
  position: fixed;
  top: 75px;
  right: 20px;
  display: flex;
  flex-direction: column;
  z-index: 100;

  @media #{$small-and-down} {
    top: 0px;
    right: 0px;
    transform: scale(0.75, 0.75);
  }

  .icon {
    margin-bottom: 5px;

    &.scale {
      transform: scale(1.1, 1.1);
    }
  }
}

.info {
  display: flex;

  @media #{$small-and-down} {
    padding-top: 25px;
  }

  .icons {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    padding-left: 10px;

    @media #{$small-and-down} {
      width: 50px;
      max-width: 50px;
      min-width: 50px;
      padding-left: 10px;
    }
  }

  .content {
    padding-left: 25px;
    width: calc(100% - 100px);
  }
}

.map {
  width: calc(100% - 24px);
  position: absolute;
}
